<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><%= title %></title>
<!-- CSS (load bootstrap from a CDN) -->

<style>
    body { padding-top:50px; }
</style>