<div class="banner bg-primary"><h2>Confirmation Details</h2></div>
<div class="bordered">
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">Confirmation #:</div>
      <div class="col-md-6">{{{attendee._id}}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Name:</div>
        <div class="col-md-6">{{{attendee.firstName}}} {{{attendeeLastName}}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Registration Date:</div>
        <div class="col-md-6">{{{attendee.formattedRegisterDate}}}</div>
    </div>
  </div>
</div>