<div class="banner bg-primary"><h2>Registration</h2></div>
<form method="POST" name="register-form" id="register-form" class="simple-form" action="/register">
    <div class="bordered margin-offset">
    <div class="container-fluid">
      <!-- first name -->
      <div class="row">
      <div class="form-group">
          <div class="col-md-4">
            <span class="pull-left"><label for="firstName">First Name: </label></span>
          </div>
          <div class="col-md-4">
              <span class="pull-left"><input type="text" class="form-control" name="firstName" id = "firstName" autocomplete="on" required/></span>
          </div>
      </div>
      </div>

      <!-- last name -->
      <div class="row">
      <div class="form-group">
          <div class="col-md-4">
            <span class="pull-left"><label for="lastName">Last Name: </label></span>
          </div>
          <div class="col-md-4">
              <span class="pull-left"><input class="form-control" type="text" name="lastName" id = "lastName" autocomplete="on" required/></span>
          </div>
      </div>
      </div>

      <!-- address -->
      <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <span class="pull-left"><label for="address">Address: </label></span>
        </div>
        <div class="col-md-4">
            <span class="pull-left"><input class="form-control" type="text" name="address" id = "address" autocomplete="on" required/></span>
        </div>
      </div>
      </div>

      <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <span class="pull-left"><label for="address2">Address 2: </label></span>
        </div>
        <div class="col-md-4">
            <span class="pull-left"><input class="form-control" type="text" name="address2" id = "address2" formnovalidate optional autocomplete="on"placeholder="(optional)"/></span>
        </div>
      </div>
      </div>

      <div class="row">
      <div class="form-group">
        <div class="col-md-4">
            <label for="city">City: </label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text" name="city" id="city" autocomplete="on" required/>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="form-group">
        <div class="col-md-4">
            <label for="zipcode">Zipcode:</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text" name="zipCode" id="zipCode" size="9" autocomplete="on" required placeholder = "zip or zip+4" pattern="^\d{5}(\-\d{4})?$"/>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <span class="pull-left"><label for="state">State: </label>        
            <select class="form-control" name="state" id="state" autocomplete="on" required>
              {{#each states}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
          </select>
          </span>
        </div>
      </div>
        <div class="col-md-4">
          <div class="form-group">
          <label for="country">Country: </label>
          <select class="form-control" name="country" id="country">
            <option value="US" selected>US</option>
          </select>
          </div>
        </div>
      </div>
      <div class="row top-buffer submit-area">
        <div class="col-md-12">
            <input class="btn btn-primary form-control" type="submit" name="submit" id="submit" value="Register"/>
        </div>
      </div>
    </div>
    </div>
</form>
<div>
</div>
<script>
  hyperform(window, {
  revalidate: 'hybrid',
  preventImplicitSubmit: true,
  validEvent: false,
});
</script>