.banner {
    text-align: center;
    margin: 0px;
    background-color: rgb(19, 19, 58);
    color:white;
    font-weight: bold;
    border: 1px solid white;
    border-radius:2px;
}

.bordered {
    border-style: solid;
    border-radius:  3px;
  }

  .margin-offset {
      padding: 5px;
      margin: 5px;
  }